<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>屁股的爸爸们「幻兽帕鲁」</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/bulma/0.9.4/css/bulma.min.css" rel="stylesheet">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            {{ .hi }}
        </h1>
        <div class="block">
            <p class="is-size-6">服务器IP会不定时变化（运营商可恶），这里提供最新的IP，建议使用 <strong>「IP:端口」</strong> 的形式连接服务器！</p>
        </div>
        <div class="box">
            <div class="block">
                <div class="tags has-addons">
                    <span class="tag">当前服务器地址</span>
                    <span class="tag is-primary">建议使用</span>
                </div>
                <strong>{{ .ip }}:{{ .port }}</strong>
            </div>

            <div class="block is-size-7">
                <p>或使用（<span class="has-text-danger">不建议</span>，IP变动时因为DNS缓存有可能会有5-10分钟无法连接）</p>
                <p>nas.liasica.com:8211</p>
            </div>
        </div>
    </div>
</section>
</body>
</html>